/* <!--Basic Styles--> */
* {
  box-sizing: border-box;
}

html {
  font-size:10px;
}

body {
  background-color: #Fbfbfb;
  font-family: 'PT Serif', serif;
  color:#1c1c1c;
  font-size: 1.7rem;
  margin: 0;
}

/* a {
  all: unset;
} */

/* <!--Typgraphy--> */

h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif;
}

h1 {
  color: #E06D69;
  font-family: Poppins, sans-serif;
  font-size: 5rem;
  font-weight: bold;
  line-height: 56px;
  letter-spacing: -0.02em;
  text-align: center;
}

h2 {
  font-size: 4.15rem;
  font-weight:600;
  line-height: 42px;
  letter-spacing: -0.02em;
}

h3 {
  font-size: 3.3rem;
  line-height: 37px;
  letter-spacing: -0.02em;
}

h4 {
  font-size: 2.65rem;
  font-weight: 600;
  line-height: normal;
  text-align: center;
  text-transform: uppercase;
  padding: 0 0 2rem 0;
}

h5 {
  font-size: 2.125rem;
  line-height: 1.2;
  padding:0 0 2rem 0;
  text-align: center;
}

h6 {
  font-size: 1.7rem;
  font-weight: 600;
  text-align: center;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  line-height: 2.5rem;
}

p {
  font-family: 'PT Serif', serif;
  padding: 1rem 0;
  font-size: 1.8rem;
  line-height: 3.5rem;
}

a {
  text-decoration: none;
  cursor:pointer;
}

strong{
  font-weight:bold;
}

/* .full-container {
  width:100%;
  margin: 0 auto;
  max-width:100rem;
} */

.container-grid {
  /* display: grid;
  grid-template-rows: auto 2fr auto auto auto; */

}



/*Header stuff*/
.navbar {
  width:100%;
  justify-content: space-between;
  padding: 0 1.6rem;
  /* display:flex; */
}

.navbar ul {
  display:block;
  width: 100%;
  font-family: Poppins, sans-serif;
  font-weight:bold;
  font-size: 1.7rem;
  position: relative;
  margin: 4rem 3rem 0 0;
  list-style: none;
  overflow: hidden;
  background-color: #fff;
  text-align: center;
}

.navbar li a {
  margin:0 1rem;
  padding:1rem;
  text-decoration: none;
  cursor: pointer;
  color:#1c1c1c;
}

nav .logo-box {
  align-items: center;
  margin: 1rem 0rem;
  display:flex;
  float:left;
}

nav a {
  cursor:pointer;
}

/* .logo-box img {
  display:block;
} */

.navbar li a:hover {
  color: #E06D69;
}

.current {
  color: #E06D69 !important;
}

.navlink {
  margin: 6rem 0rem;
  padding: 0rem 0;
}


.dropdown {
  margin-right:1rem;
}

.dropdown .dropbtn {
  cursor: pointer;
  font-size: 1.7rem;
  border: none;
  outline: none;
  color: #1c1c1c;
  background-color: inherit;
  font-family: Poppins, sans-serif;
  font-weight:bold;
  margin: 0;
}

 .dropdown:hover .dropbtn, .dropbtn:focus {
  color: #E06D69;
}

.dropdown-content {
  display: none;
  position:relative;
  background-color: #fbfbfb;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  padding:1rem 0;
}

.dropdown-content a {
  float: none;
  margin:1rem 0;
  color: #1c1c1c;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-weight: 600;
  text-align: right;
  text-transform: uppercase;
}

.dropdown-content a:hover {
  transform: scale(1.05);
  /* background-color: #ddd; */
}

.show {
  display: block;
}

/*MENU*/
.navbar .navLinks {
    color: #1c1c1c;
    background-color: #Fbfbfb;
    display: block;
    max-height: 0rem;
    transition: .3s ease-in-out;
    text-align: right;
    /* z-index: 0; */
}

/*MENU ICON*/

.menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 3rem 2% 2rem 0rem;
  user-select:none;
  /* margin: -6rem auto; */
}

.navbar .menu-icon .navicon {
  background: #1c1c1c;
  display: flex;
  height: 0.4rem;
  position: relative;
  transition: background-color .2s ease-out;
  width: 2rem;
}

.navbar .menu-icon .navicon:before,
.navbar .menu-icon .navicon:after {
  background: #1c1c1c;
  content: '';
  display: flex;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.navbar .menu-icon .navicon:before {
  top: .7rem;
}

.navbar .menu-icon .navicon:after {
  top: -.7rem;
}

/* menu btn */

.navbar .menu-btn {
 display: none;
}

.navbar .menu-btn:checked ~ .navLinks {
 max-height: 100vh;

}

.navbar .menu-btn:checked ~ .menu-icon .navicon {
 background: transparent;
}
/* icon animation */
.navbar .menu-btn:checked ~ .menu-icon .navicon:before {
 transform: rotate(-45deg);
}

.navbar .menu-btn:checked ~ .menu-icon .navicon:after {
 transform: rotate(45deg);
}

.navbar .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.navbar .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
 top: 0;
}


/*hero stuff*/
.hero {
  padding: 4rem 5% 7rem;
  width: 100%;
  max-width: 60rem;
  margin: 0 auto;
}

.about-me-pic {
  display: flex;
  margin:0 auto;
  max-width: 40rem;
}

.hero img {
  width:100%;
}

.hero h1 {
  padding:4rem 0 0rem;
  text-align: left;

}


.CaseButton {
  border-style: none;
  cursor: pointer;
  min-width: 20rem;
  flex-wrap:wrap;
  background-color: #E06D69;
  color: #fbfbfb;
  height:auto;
  /* margin: 4rem auto 8rem; */
  padding: .75rem 2rem;
  text-decoration: none;
  filter: drop-shadow(0 0.25rem .25rem rgba(0,0,0,0.25));
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 1.65rem;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  -webkit-appearance: none;
  transition: .3s all;
}

.CaseButton:hover {
  transform: scale(1.05);
  /* background-color:  */
}

.dj a{
  color:#1c1c1c;
}

/*-----OTHER PROJECTS SECTION------*/
.other-projects {
  width:100%;

}

.stash {
  grid-area: stash-grid;
  background-image: url("../images/stash-mini-banner.png");
  background-color: #52B098;
  background-repeat: no-repeat;
  background-size: cover;
  height:200px;
  position: relative;
  width: 100%;
}

.overlay-stash {
  display:grid;
  grid-template-columns: 30% 1fr;
  grid-template-areas:
  ". stash ";
  z-index:1;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  height:100%;
  opacity:0;
  transition: .5s ease-in-out;
  text-align: center;
}

.stash-text {
  color: #fbfbfb;
  grid-area: stash;
  margin: 0 auto 5rem;
  position: relative;
  text-align:left;
  align-self: flex-end;
}

.overlay-stash:hover {
  opacity:1;
}

.nintendo {
  grid-area:nintendo-grid;
  background-image: url("../images/nintendo-mini-banner.png");
  background-color: #FA9B20;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height:200px;
  position: relative;
  width: 100%;
}

.overlay-nintendo {
  display:grid;
  grid-template-columns: 20% 1fr;
  grid-template-areas:
  " . nintendo ";
  z-index:1;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  height:100%;
  opacity:0;
  transition: .5s ease-in-out;
  text-align:center;
}

.nintendo-text {
  grid-area:nintendo;
  position: relative;
  margin: 0 auto 5rem;
  color: #fbfbfb;
  text-align:left;
  align-self: flex-end;
}

.overlay-nintendo:hover {
  opacity:1;
}

.blocjams {
  grid-area:blocjams-grid;
  background-image: url("../images/blocjams-mini-banner.png");
  background-color: #D6423E;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height:200px;
  position: relative;
  width:100%;
}

.blocjams-text {
  grid-area:bloc;
  margin: 0 auto 5rem;
  position: relative;
  color: #fbfbfb;
  text-align:left;
  align-self: flex-end;
}

.overlay-blocjams {
  display:grid;
  grid-template-columns: 1fr 30%;
  grid-template-areas:
  " bloc .";
  z-index:1;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  height:100%;
  opacity:0;
  transition: .5s ease-in-out;
  text-align:center;
}

.overlay-blocjams:hover {
  opacity:1;
}

.other-projects h2 {
  padding-bottom:1rem;
}


/* <!--QUOTE--> */


footer {
    width:100%;
    padding: 8rem 1.6rem 2rem;
    background-color: #fcf4ef;
}

.fav-rappers {
  font-weight:300;
  margin:0 auto;
  padding:0 0 2rem;
  max-width:60rem;
  text-align: left;
}

blockquote{
  font-size: 1.7rem;
  font-family: Poppins, sans-serif;
  width:100%;
  margin:0 auto;
  font-style:italic;
  color: #1c1c1c;
  padding:3rem 6rem 3rem 10rem;
  border-left:1rem solid #D6423E;
  line-height:1.6;
  position: relative;
  background:#FBFBFB;
  filter: drop-shadow(0 0.5rem .25rem rgba(0,0,0,0.25));
  max-width:60rem;
}

blockquote::before{
  font-family:Arial, sans-serif;
  content: "“";
  color:#D6423E;
  font-size:16rem;
  position: absolute;
  left: 1.5rem;
  top:-5rem;
  z-index:-2;
}

blockquote::after{
  font-family:Arial, sans-serif;
  content: "”";
  color:#D6423E;
  font-size:16rem;
  position: absolute;
  right: 1.5rem;
  bottom: -8rem;
  padding:0 1rem;
}

blockquote span{
  display:block;
  color:#1c1c1c;
  font-style: normal;
  font-weight: bold;
  margin-top:1em;
}

.wannatalk {
  padding: 12rem 0 2rem;
  width:100%;
  max-width: 60rem;
  margin:0 auto;
}

.wannatalk h5 {
  text-align:inherit;
  font-weight:300;
}

.wanna-text {
  font-weight:500;
}

.socials {
  display:flex;
  font-size: 24px;
  margin: 0 auto;
  max-width:60rem;
}

.socials li {
  padding: 0 0 2rem;
  width:20%;
  text-align: center;
  transition: all 0.3s ease-in-out;
}

.socials li a {
  color:#1c1c1c;
}

.socials li a:hover {
  color: #E06D69;
  cursor:pointer;
}

.copyright {
  font-size: 1.2rem;
  text-align: center;
  padding:0;
}


/*<--------Media Querries----->*/

@media screen and (min-width:376px) and (max-width:767px) {

}


@media screen and (min-width:768px) {

        h1 {
          font-size:5.8rem;
          line-height: 1.1;
        }

        .menu-icon {
          display: none;
        }


        .logo-box img {
          width:5rem;

        }
        nav .logo-box {
          grid-area:logo;
        }

        .navbar {
          height:10rem;
          display: grid;
          grid-template-columns: 1fr 1fr 9fr 1fr;
          grid-template-areas: ". logo navitems .";
          margin:0 auto;
          padding:0;
        }

        .navlink {
          margin: 0 0;
        }

       .navLinks {
          grid-area: navitems;
        }

        .navbar ul {
          background-color:  #FCF4EF;
          overflow:visible;
        }

        .navbar li {
          text-align: right;
          display: inline-block;
          padding:0 0 0 1rem;
        }

        .dropdown-content {
          position:absolute;
        }

        .dropdown-content a {
          text-align: left;
        }

      .about-me-pic {
        grid-area:pic;
        display:block;
      }

      .words {
        grid-area:words;
        padding: 0 2rem;
      }

      .hero {
        display:grid;
        grid-template-columns: auto 3fr 3fr auto;
        grid-template-areas:
        ". pic words .";
        max-width:120rem;
      }

      .hero h1 {
        padding:0 2rem 2rem;
      }

      .hero p {
        padding: 0 2rem;
      }

      .other-projects {
        display:grid;
        grid-template-columns: 4fr 4fr;
        grid-template-areas:
        "stash-grid blocjams-grid"
      }

      .overlay-nintendo {
        grid-template-columns: 1fr;
        grid-template-areas:
        "nintendo";
      }

      /* blockquote {
      padding:3rem 6rem 3rem 10rem;
      }

      blockquote::before{
        left: 2rem; */

}

@media screen and (min-width:1000px) {

      h1 {
        font-size: 9rem;
        line-height: 1;
      }

      .hero img {
        max-width:80rem;
        display:flex;
      }

      .hero {
        padding-top:12rem;
      }

      .words {
        max-width: 60rem;
      }

}
