/* <!--Basic Styles--> */
* {
  box-sizing: border-box;
}

html {
  font-size:10px;
}

body {
  background-color: #Fbfbfb;
  font-family: 'PT Serif', serif;
  color:#1c1c1c;
  font-size: 1.7rem;
  margin: 0;
}

a {
  all: unset;
}

/* <!--Typgraphy--> */

h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif;
}

h1 {
  color: #1c1c1c;
  font-family: Poppins, sans-serif;
  font-size: 5rem;
  font-weight: bold;
  line-height: 56px;
  letter-spacing: -0.02em;
  text-align: center;
}

h2 {
  font-size: 4.15rem;
  font-weight:600;
  line-height: 42px;
  letter-spacing: -0.02em;
}

h3 {
  font-size: 3.3rem;
  line-height: 37px;
  letter-spacing: -0.02em;
}

h4 {
  font-size: 2.65rem;
  font-weight: 600;
  line-height: normal;
  text-align: center;
  text-transform: uppercase;
  padding: 0 0 2rem 0;
}

h5 {
  font-size: 2.125rem;
  line-height: 1.2;
  padding:0 0 2rem 0;
  text-align: center;
}

h6 {
  font-size: 1.7rem;
  font-weight: 600;
  text-align: center;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  line-height: 2.5rem;
}

p {
  font-family: 'PT Serif', serif;
  padding: 2rem 1.6rem;
  font-size: 1.8rem;
  line-height: 3.5rem;
}

strong{
  font-weight:bold;
}

/* .full-container {
  width:100%;
  margin: 0 auto;
  max-width:100rem;
} */

.container-grid {
  /* display: grid;
  grid-template-rows: auto 2fr auto auto auto; */

}



/*Header stuff*/
.navbar {
  width:100%;
  justify-content: space-between;
  padding: 0 1.6rem;
  /* display:flex; */
}

.navbar ul {
  display:block;
  width: 100%;
  font-family: Poppins, sans-serif;
  font-weight:bold;
  font-size: 1.7rem;
  position: relative;
  margin: 4rem 3rem 0 0;
  list-style: none;
  overflow: hidden;
  background-color: #fff;
  text-align: center;
}

.navbar li a {
  margin:0 1rem;
  padding:1rem;
  text-decoration: none;
  cursor: pointer;
}

nav .logo-box {
  align-items: center;
  margin: 1rem 0rem;
  display:flex;
  float:left;
}

nav a {
  cursor:pointer;
}

.logo-box img {
  display:block;
}

.navbar li a:hover {
  color: #E06D69;
}

.current {
  color: #E06D69;
}

.navlink {
  margin: 6rem 0rem;
  padding: 0rem 0;
}


/*MENU*/
.navbar .navLinks {
    color: #1c1c1c;
    background-color: #Fbfbfb;
    display: block;
    max-height: 0rem;
    transition: .3s ease-in-out;
    text-align: right;
    /* z-index: 0; */
}

/*MENU ICON*/

.menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 3rem 2% 2rem 0rem;
  user-select:none;
  /* margin: -6rem auto; */
}

.navbar .menu-icon .navicon {
  background: #1c1c1c;
  display: flex;
  height: 0.4rem;
  position: relative;
  transition: background-color .2s ease-out;
  width: 2rem;
}

.navbar .menu-icon .navicon:before,
.navbar .menu-icon .navicon:after {
  background: #1c1c1c;
  content: '';
  display: flex;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.navbar .menu-icon .navicon:before {
  top: .7rem;
}

.navbar .menu-icon .navicon:after {
  top: -.7rem;
}

/* menu btn */

.navbar .menu-btn {
 display: none;
}

.navbar .menu-btn:checked ~ .navLinks {
 max-height: 100vh;

}

.navbar .menu-btn:checked ~ .menu-icon .navicon {
 background: transparent;
}
/* icon animation */
.navbar .menu-btn:checked ~ .menu-icon .navicon:before {
 transform: rotate(-45deg);
}

.navbar .menu-btn:checked ~ .menu-icon .navicon:after {
 transform: rotate(45deg);
}

.navbar .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.navbar .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
 top: 0;
}

/* <!--HERO--> */
 .hero {
  padding: 8rem 0;
  background: linear-gradient(180deg, #52B098 0%, #1C2B61 113.42%);
}

.hero img {
  /* padding:2rem; */
  margin: 0 auto;
}

.hero h1, .hero h5 {
  color:#fbfbfb;
}

.hero h5 {
  padding: 1rem 0 2rem 0;
}

.hero .CaseButton {
  margin: 2rem auto;
}

/*----CASE STUDY TIME-----*/

.summary, .problem, .solution {
  padding:8rem 0;
  width:100%;
  max-width:60rem;
  margin:0 auto;
}

section img {
  width:100%;
  margin: 0 auto;
  object-fit: contain;
  align-self:end;
}

.button {
  width:100%;
}

.CaseButton {
  border-style: none;
  cursor:pointer;
  display: flex;
  min-width: 20rem;
  flex-wrap:wrap;
  background-color: #E06D69;
  color: #fbfbfb;
  height:auto;
  margin: 4rem auto 8rem;
  padding: .75rem 2rem;
  text-decoration: none;
  filter: drop-shadow(0 0.25rem .25rem rgba(0,0,0,0.25));
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  -webkit-appearance: none;
  transition: .3s all;
}

.CaseButton:hover {
  transform: scale(1.05);
  /* background-color:  */
}

.image_stash {
  background: linear-gradient(180deg, #52B098 0%, #1C2B61 113.42%);
  width:100%;
  margin:0 auto;
  display: flex;
  padding:2rem;
}

.image_stash img {
  max-width:60rem;
  margin:0 auto;
}

.process {
  padding:8rem 0;
}

.process p {
  max-width:60rem;
  margin:0 auto;
}


.charts {
  background-color: #fbfbfb;
  /* filter: drop-shadow(0 0 .25rem rgba(0,0,0,0.25)); */
  position: relative;
  display:grid;
  grid-template-columns:1fr;
  grid-template-areas:
  "title"
  "chart1"
  "chart2"
  "chart3";
  margin: 4rem auto;
  padding:2rem;
  /* border-top: 1px;
  border-style:solid;
  border-color:#E3DDDD; */
  width:100%;
  height:100%;
}

.chart-box {
  padding: 0rem;
  margin:0 auto;
}

.charts h6 {
  margin: 0 auto;
  padding: 2rem 0;
  grid-area:title;
}

/* #chart1, #chart2, #chart3 {
  padding:0rem 0;
} */


#chart1 {
  grid-area:chart1;
  /* max-width:40rem; */
}

#chart2 {
  grid-area:chart2;
  /* max-width:40rem; */
}

#chart3 {
  grid-area:chart3;
  /* max-width:40rem; */
}


.info_card {
  margin:4rem 1.6rem;
  background-color: #fbfbfb;
  filter: drop-shadow(0 0 .25rem rgba(0,0,0,0.25));
  padding: 4rem 2rem;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.info_card h6 {
  padding: 2rem 0;
  margin: 0 auto;
}
.info_card li {
  padding:1rem;
  line-height: 1.3;
}

.info_card ul {
  padding-bottom:2rem;
}

.highlights {
  font-size:2.4rem;
  font-weight:600;
  color:#52B098;
}

.user-surveys .CaseButton {
  background-color: #52B098;
}

.info_card img {
  display: flex;
  margin: 0 auto;
  width: 100px;
}

.comp-analysis .info_card h6 {
  width:100%;
}

.comp-analysis .info_card p {
  width:100%;
  margin: auto;
}

.comp-analysis .CaseButton {
  /* margin: 8rem auto; */
  background-color: #52B098;
}

.positives {
  color: #52B098;
  font-weight:600;
}

.negatives {
  color: #D6423E;
  font-weight:600;
}

.user-personas .info_card h6 {
  margin:0 auto;
  width:100%;
  padding-bottom:1rem;
}

.user-personas .info_card p {
  width:100%;
  font-size: 1.4rem;
  margin: 0 auto;
}

p.smalldetails {
  line-height: 1.5rem;
  text-align: center;
}

.persona-name {
  font-weight:700;
  letter-spacing: -0.05rem;
  font-size:2.4rem;
  padding-bottom: 0rem;
}

.personah6 {
  /* opacity: 0.8; */
  font-size: 1.4rem;
  letter-spacing: 0.1em;
}

.persona-quote {
  letter-spacing: 0;
}

.user-flows-and-stories {
  padding-top: 4rem;
}

/*-----SWIPER STUFF----*/

.swiper-slide img{
  /* border-style: solid;
  border-color: #1c1c1c;
  border-width: .5px; */
  padding:0 3rem;
}

.swiper-slide {
  background-color: #fff;
}

.swiper-wrapper {
  margin-bottom: 3rem;
}

.swiper-container {
  max-width:60rem;
}

/*END OF SWIPER STUFF*/

.user-flows-and-stories .CaseButton {
  background-color: #52B098;
}

.wireframes .CaseButton {
  background-color: #52B098;
}

.logo-wrapper {
  width:100%;
  display: grid;
  grid-template-rows: auto;
  max-width: 120rem;
  margin: 0 auto 4rem;
}

.logoconcept {
  margin:0 auto;
  width: 50%;
  max-width: 60rem;
}


.logoconcept figcaption {
  text-align:center;
  color:#1c1c1c;
  opacity:.7;
  margin-top:1rem;
  font-size:1.2rem;
}

.before-after {
  margin:4rem auto;
  max-width:60rem;
}

.branding_and_identity .CaseButton {
  background-color: #52B098;
}

.style-guide {
  margin:4rem auto;
}

.flex-moodboard {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto auto auto auto auto;
  margin: 4rem 0 2rem;
}

.flex-moodboard img {
  margin: 0 auto;
  object-fit: cover;
}

.labels {
  width:50%;
  text-align: center;
}

.hifi-comparison {
  margin-top: 8rem;
}

.hifi-comparison .gg-box {
  max-width:40rem;
}

.user-testing .CaseButton{
  margin-bottom: 0;
}

.conclusion {
  padding: 8rem 0;
  background-color: #1c1c1c;
  color:#fbfbfb;
  position: relative;
  width:100%
}

.conclusion p {
  max-width: 60rem;
  margin: 0 auto;
}

/* .conclusion a {
  cursor: pointer;
  text-align: center;
  margin: 0 auto;
  max-width: 10rem;
} */

.back-to-top {
  text-align: center;
  margin-top:4rem;
}

.chevronstuff {
  display:inline-block;
  cursor:pointer;
}

.back-to-top img{
  max-width: 35px;
}

/*-----OTHER PROJECTS SECTION------*/
.other-projects {
  width:100%;
}

.nintendo h2, .blocjams h2 {
}

.nintendo {
  background-image: url("../images/nintendo-mini-banner.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height:200px;
  position: relative;
  width: 100%;
}

.overlay {
  z-index:1;
  background-color: rgba(0,0,0,0.3); /* Black background with opacity */
  height:100%;
}

.nintendo-text {
  margin: 0 1.6rem 0 0;
  position: relative;
  top: 10%;
  color: #fbfbfb;
  padding-left: 37%;
}
.other-projects .CaseButton {
  margin: 2rem 0 4rem;
  position: relative;
  right:0%;
}

.blocjams {
  background-image: url("../images/blocjams-mini-banner.png");
  background-color: #D6423E;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height:200px;
  position: relative;
  width:100%;
}

.blocjams-text {
  margin: 0 1.6rem;
  position: absolute;
  top: 30%;
  left:5%;
  color: #fbfbfb;
}


/* <!--QUOTE--> */

footer {
    width:100%;
    padding: 4rem 1.6rem 2rem;
    background-color: #fcf4ef;
}

blockquote{
  font-size: 1.7rem;
  font-family: Poppins, sans-serif;
  width:100%;
  margin:0 auto;
  font-style:italic;
  color: #1c1c1c;
  padding:3rem 3rem 3rem 6rem;
  border-left:.8rem solid #D6423E;
  line-height:1.6;
  position: relative;
  background:#FBFBFB;
  filter: drop-shadow(0 0.5rem .25rem rgba(0,0,0,0.25));
  max-width:60rem;
}

blockquote::before{
  font-family:Arial, sans-serif;
  content: "“";
  color:#D6423E;
  font-size:8rem;
  position: absolute;
  left: 2rem;
  top:-1rem;
}

blockquote::after{
  font-family:Arial, sans-serif;
  content: "”";
  color:#D6423E;
  font-size:8rem;
  position: absolute;
  right: 1.5rem;
  bottom: 1rem;
  padding:0 1rem;
}

blockquote span{
  display:block;
  color:#1c1c1c;
  font-style: normal;
  font-weight: bold;
  margin-top:1em;
}

.wannatalk {
  padding: 12rem 0 2rem;
  width:100%;
  max-width: 60rem;
  margin:0 auto;
}

.wannatalk h5 {
  text-align:inherit;
  font-weight:300;
}

.wanna-text {
  font-weight:500;
}

.socials {
  display:flex;
  font-size: 24px;
  margin: 0 auto;
  max-width:60rem;
}

.socials li {
  padding: 0 0 2rem;
  width:20%;
  text-align: center;
  transition: all 0.3s ease-in-out;
}

.socials li a:hover {
  color: #E06D69;
  cursor:pointer;
}

.copyright {
  font-size: 1rem;
  text-align: center;
  padding:0;
}


/*<--------Media Querries----->*/

@media screen and (min-width:376px) and (max-width:767px) {
        .logo-wrapper {
          grid-template-columns: 6fr 6fr;
        }

        .mood1 {
          grid-area: mood1;
          height:100%;
        }
        .mood2 {
          grid-area: mood2;
          height:100%;
        }
        .mood3 {
          grid-area: mood3;
          height:100%;
        }
        .mood4 {
          grid-area: mood4;
          height:100%;
        }
        .mood5 {
          grid-area: mood5;
          height:100%;
        }
        .mood6 {
          grid-area: mood6;
          height:100%;
        }
        .mood7 {
          grid-area: mood7;
          height:100%;
        }

        .flex-moodboard {
          display: grid;
          grid-template-columns: repeat(auto-fill, minmax(auto, 1fr));
          grid-template-areas:
          "mood1 mood2"
          "mood3 mood4"
          "mood5 mood5"
          "mood6 mood7";
          margin-bottom: 2rem;
        }

        .swiper-slide img{
          padding: 0 4rem;
        }
}


/*-------TEXT FIX FOR other projects section-----*/
@media screen and (min-width:572px) and (max-width:767px) {
      .nintendo-text {
        top:30%;
      }
}


@media screen and (min-width:768px) {

      .menu-icon {
        display: none;
      }

      .logo-box img {
        width:5rem;

      }
      nav .logo-box {
        margin: 0rem 0rem;
      }

      .navbar {
        height:10rem;
        display:grid;
        grid-template-columns: auto 3fr auto;
        grid-template-areas:
        "logo . navitems";
        max-width:130rem;
        margin:0 auto;
      }

      .navlink {
        margin: 0 0;
      }

      .navbar ul {
        background-color:  #FCF4EF;
        overflow:visible;
      }

      .navbar li {
        text-align: right;
        display: inline-block;
        padding:0 1rem 0 .5rem;
      }

      .charts {
        display: grid;
        grid-template-columns: 4fr 4fr;
        grid-template-rows: auto 1fr 1fr;
        grid-gap: 1rem;
        grid-template-areas:
        "title title"
        "chart1 chart2"
        "chart3 chart3";
        max-width: 120rem;
      }

      #chart1 {
        /* height:350px; */
        max-width:40rem;
      }

      #chart2 {
        /* height:350px; */
        max-width:40rem;
      }

      #chart3 {
        /* height:350px; */
        max-width:40rem;
      }

      .user-surveys .info_card {
        display:grid;
        grid-template-columns: 8fr;
        /* max-width: 80%; */
        margin:0 auto;
        padding:6rem 8rem;
      }

      .user-surveys .info_card ul{
        /* text-align: center; */
      }

      .comp-grid {
        display: grid;
        grid-template-columns: 4fr 4fr;
        grid-template-rows: auto auto;
        /* grid-gap: 1rem; */
        grid-template-areas:
        "dropbox google"
        "pinterest .";
        max-width: 120rem;
        margin:0 auto;
      }

      .comp-grid .info_card{
        margin: 2rem;
      }

      .info_card img {
        width:12rem;
      }

      .persona-grid {
        display: grid;
        grid-template-columns: 4fr 4fr;
        grid-template-rows: 1fr;
      }

      .swiper-slide img {
        padding:0 8rem;
        margin:0 auto;
      }

      .swiper-container {
        max-width:60rem;
      }

      .logoconcept {
        padding: 0 1rem;
        margin:0 auto;
        width: 60%;
        max-width: 50rem;
      }

      .logo-wrapper {
        grid-template-columns: 6fr 6fr;
        max-width: 90rem;
      }

      .style-guide {
        width:100%;
        max-width:60rem;
      }

      .mood1 {
        grid-area: mood1;
        height:100%;
      }
      .mood2 {
        grid-area: mood2;
        height:100%;
      }
      .mood3 {
        grid-area: mood3;
        object-fit: cover;
        height:100%;
      }
      .mood4 {
        grid-area: mood4;
        height:100%;
      }
      .mood5 {
        grid-area: mood5;
        height:100%;
      }
      .mood6 {
        grid-area: mood6;
        height:100%;
      }
      .mood7 {
        grid-area: mood7;
        height:100%;
      }

      .flex-moodboard {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(auto, 1fr));
        grid-template-rows: 1fr 1fr 33%;
        grid-template-areas:
        "mood1 mood2 mood3"
        "mood4 mood6 mood7"
        "mood5 mood5 mood5";
        margin-bottom: 2rem;
      }

      .user-testing .info_card {
        display:grid;
        grid-template-columns: 8fr;
        /* max-width: 80%; */
        margin:0 auto;
        padding:6rem 8rem;
      }

      .user-testing p {
        margin-bottom:4rem;
      }

      .hifi-comparison .gg-box {
        max-width:60rem;
      }

      .other-projects {
        display:flex;
      }


}

@media screen and (min-width:1000px) {
      h1 {
        font-size:7.6rem;
      }

      .hero img {
        max-width:80rem;
        display:flex;
      }

      .hero {
        padding-top:4rem;
      }

      .charts {
        display: grid;
        grid-template-columns: 4fr 4fr 4fr;
        grid-template-rows: auto auto auto;
        grid-template-areas:
          "title title title"
          "chart1 chart2 chart3";
      }

      .user-surveys .info_card {
        display:grid;
        grid-template-columns: 8fr;

      }

      .user-surveys .info_card ul {
        max-width: 60rem;
        margin:0 auto;
      }

      .comp-grid {
        display: grid;
        grid-template-columns: 4fr 4fr 4fr;
        grid-template-rows: auto auto;
        grid-template-areas:
        "dropbox google pinterest";
      }

      .persona-grid {
        max-width:90rem;
        margin:0 auto;
      }

      .swiper-container {
        max-width:50vw;
      }

      .user-testing .info_card {
        display:grid;
        grid-template-columns: 8fr;
        margin:0 auto;
      }

      .user-testing .info_card ul {
        max-width:60rem;
        margin:0 auto;
      }

      .branding_and_identity .gg-box {
        max-width:90rem;
      }

      .flex-moodboard {
        grid-template-rows:1fr 1fr 48rem;
      }

      .hifi-comparison .gg-box {
        max-width: 120rem;
        grid-gap:4rem;
        margin: 4rem auto 8rem auto;
      }



}

@media screen and (min-width:1144px) {
      .nintendo-text {
        top:30%;
  }
}
