/* <!--Basic Styles--> */
* {
  box-sizing: border-box;
}

html {
  font-size:10px;
}

body {
  background-color: #FCF4EF;
  font-family: 'PT Serif', serif;
  color:#1c1c1c;
  font-size: 1.7rem;
  margin: 0;
}

a {
  all: unset;
  cursor: pointer;
}

.welcome-wrapper {
  width:100%;
}

.full-container {
  width:100%;
  margin: auto;
}

.container {
  max-width: 120rem;
  margin: auto;
}

/*Header stuff*/
.navbar {
  width:100%;
}

.navbar ul {
  width: 100%;
  font-family: Poppins, sans-serif;
  font-weight:bold;
  font-size: 1.7rem;
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #fff;
  text-align: center;
}

.navbar li a {
  padding: 2.5rem;
  text-decoration: none;
  cursor: pointer;
}

.navbar img {
  margin:1.5rem 0 1rem 1.6rem;
  width: 4rem;
}

.navbar li a:hover, .navbar .menu-btn:hover {
  color: #E06D69;
}

.navlink {
  margin: 0rem 0rem;
  padding: 5rem;
}

/*MENU*/
.navbar .navLinks {
    color: #1c1c1c;
    background-color: #FCF4EF;
    display: block;
    max-height: 0rem;
    transition: .3s ease-in-out;
    text-align: right;
    z-index: 9;
}

/*MENU ICON*/

.menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 3.5rem 2rem 2rem 2rem;
  user-select: none;
}

.navbar .menu-icon .navicon {
  background: #1c1c1c;
  display: flex;
  height: 0.4rem;
  position: relative;
  transition: background .2s ease-out;
  width: 2rem;
}

.navbar .menu-icon .navicon:before,
.navbar .menu-icon .navicon:after {
  background: #1c1c1c;
  content: '';
  display: flex;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.navbar .menu-icon .navicon:before {
  top: 7px;
}

.navbar .menu-icon .navicon:after {
  top: -7px;
}

/* menu btn */

.navbar .menu-btn {
 display: none;
}

.navbar .menu-btn:checked ~ .navLinks {
 max-height: 100vh;

}

.navbar .menu-btn:checked ~ .menu-icon .navicon {
 background: transparent;
}
/* icon animation */
.navbar .menu-btn:checked ~ .menu-icon .navicon:before {
 transform: rotate(-45deg);
}

.navbar .menu-btn:checked ~ .menu-icon .navicon:after {
 transform: rotate(45deg);
}

.navbar .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.navbar .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
 top: 0;
}

/* <!--HERO--> */
.hero {
  padding: 8rem 0;

}

.hero .CaseButton {
  margin: 4rem auto;
}

/*----CASE STUDY TIME-----*/

.summary, .problem, .solution, .process, .conclusion {
  padding:8rem 0;
  width:100%;
}

section img {
  width:100%;
  margin: 0 auto;
  object-fit: cover;
}

.button {
  width:100%;
}

.CaseButton {
  border-style: none;
  cursor:pointer;
  display: flex;
  background-color: #E06D69;
  color: #fbfbfb;
  margin: 3rem 5rem 5rem 0;
  padding: 1rem 2.4rem;
  text-decoration: none;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  text-align: center;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  -webkit-appearance: none;
}

.image_stash {
  background: linear-gradient(180deg, #D6423E 22.72%, #612854 110.86%);
}

.charts {
  background-color: #fbfbfb;
  filter: drop-shadow(0 .5rem .25rem rgba(0,0,0,0.25));
  padding: 2rem 1.6rem;
  display: flex;
  flex-wrap: wrap;
  width:90%;
  position: relative;
  margin: auto;
}

.charts h6 {
  margin: auto;
  padding: 2rem 0;

}
#chart1, #chart2, #chart3 {
  padding:0rem 0;
}

.info_card {
  top:4rem;
  background-color: #fbfbfb;
  filter: drop-shadow(0 .5rem .25rem rgba(0,0,0,0.25));
  padding: 1.6rem;
  display: flex;
  flex-wrap: wrap;
  width:90%;
  position: relative;
  margin: auto;
}

.info_card h6 {
  padding: 2rem 0;
  margin: auto;
}
.info_card li {
  padding:1.6rem;
}

.user-surveys .CaseButton {
  margin: 8rem auto;
  background-color: #52B098;
}

.comp-analysis .info_card img {
  display: flex;
  margin: auto;
  width: 100px;;
  max-width: 300px;
}

.comp-analysis .info_card h6 {
  margin:0 auto;
  width:100%;
}

.comp-analysis .info_card p {
  width:100%;
  margin: auto;
}

.comp-analysis .CaseButton {
  margin: 8rem auto;
  background-color: #52B098;
}

.user-personas .info_card {
  margin-bottom: 4rem;
}

.user-personas .info_card img {
  display: flex;
  margin: auto;
  width: 100px;;
  max-width: 300px;
}

.user-personas .info_card h6 {
  margin:0 auto;
  width:100%;
}

.user-personas .info_card p {
  width:100%;
  font-size: 1.4rem;
  margin: auto;
  padding: 0;
}

p.smalldetails {
  line-height: 2rem;
}

.personah6 {
  /* opacity: 0.8; */
  font-size: 1.4rem;
  letter-spacing: 0.0em;
}

.user-flows-and-stories {
  padding-top: 4rem;
}

.swiper-container {
    width: 100%;
}

.swiper-wrapper {
  margin-top:4rem;
}

.swiper-slide img{
  margin:0 auto;
  width:100%;
  max-width:800px;
}

.user-flows-and-stories .CaseButton {
  margin: 4rem auto 0 auto;
  background-color: #52B098;
}

.wireframes {
  padding-top:8rem;
}

.wireframes .CaseButton {
  margin: 4rem auto 0 auto;
  background-color: #52B098;
}

.branding_and_identity {
  padding-top:8rem;
}

.branding_and_identity img{
  margin: 4rem 0;
}

.logo-wrapper {
  width:100%;
  display:flex;
}

.logoconcept {
  width:45%;
  margin: 0 2rem;
}

.logoconcept img{
  margin:2rem 0;
  max-width:300px;
}

.logoconcept figcaption {
  text-align:center;
  margin-bottom:2rem;
}

.compare-images {
  text-align:center;
}

.compare-images img {
  max-width: 500px;
}

.branding_and_identity .CaseButton {
  margin: 0 auto 4rem;
}

.flex-moodboard {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2rem;
  /* background-color: #fbfbfb; */
}

.flex-moodboard img {
  margin: 0 auto;
}

.hifi-comparison {
  margin-top:8rem;
}

.hifi-comparison .info_card{
  display:flex;
  flex-wrap:wrap;
  margin:4rem auto;
}

.hifi-comparison .info_card img {
  flex:50%;
  max-width:45%;
  object-fit: contain;
}

.hifi-comparison .info_card h6 {
  text-align: center;
  width:100%;
}

.user-testing .CaseButton{
  margin: 8rem auto 0;
}

.conclusion {
  background-color: #1c1c1c;
  color:#fbfbfb;
  position: relative;
}

/* .conclusion a {
  cursor: pointer;
  text-align: center;
  margin: 0 auto;
  max-width: 10rem;
} */

.back-to-top {
  text-align: center;
  margin-top:4rem;
}

.chevronstuff {
  display:inline-block;
}

.back-to-top img{
  max-width: 35px;
}

/* <!--Typgraphy--> */

h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif;
}

h1 {
  color: #1c1c1c;
  font-family: Poppins, sans-serif;
  font-size: 5rem;
  font-weight: bold;
  line-height: 56px;
  letter-spacing: -0.02em;
  text-align: center;
}

h2 {
  font-size: 4.15rem;
  font-weight:600;
  line-height: 42px;
  letter-spacing: -0.02em;
}

h3 {
  font-size: 3.3rem;
  line-height: 37px;
  letter-spacing: -0.02em;
}

h4 {
  font-size: 2.65rem;
  font-weight: 600;
  line-height: normal;
  text-align: center;
  text-transform: uppercase;
  padding: 0 0 2rem 0;
}

h5 {
  font-size: 2.125rem;
  line-height: normal;
  padding:0 0 2rem 0;
  text-align: center;
}

h6 {
  font-size: 1.7rem;
  font-weight: 600;
  text-align: center;
  letter-spacing: 0.08em;
  text-transform: uppercase;
}

p {
  font-family: 'PT Serif', serif;
  padding: 2rem 1.6rem;
  font-size: 1.8rem;
  line-height: 3rem;
}

strong{
  font-weight:bold;
}

/*-----OTHER PROJECTS SECTION------*/
.other-projects {
  width:100%;
}

.nintendo h2, .blocjams h2 {
}

.nintendo {
  background-image: url("/images/nintendo-mini-banner.png");
  background-color: #FA9A1F;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height:200px;
  position: relative;
  width: 100%;
}

.nintendo-text {
  margin: 0 1.6rem;
  position: relative;
  top: 10%;
  left: 34%;
  width:50%;
  color: #fbfbfb;
}
.other-projects .CaseButton {
  margin: 2rem 0 4rem;
  position: relative;
  right:0%;
}

.blocjams {
  background-image: url("/images/blocjams-mini-banner.png");
  background-color: #D6423E;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height:200px;
  position: relative;
  width:100%;
}

.blocjams-text {
  margin: 0 1.6rem;
  position: relative;
  top: 30%;
  left: 0%;
  width:60%;
  color: #fbfbfb;
}

/* .nintendo img {
  object-fit: cover;
} */
/* .mini-project-words {
  position: absolute;
  bottom:1rem;
  margin: 1rem 1.6rem;
} */

/* .mini-project-words h2 {
  max-width:60%;
  width:40%;
} */

/* .mini-project-wrapper img {
  object-fit: cover;
  position: relative;
} */

/* .blocjams {
  height:200px;
  color: #fbfbfb;
} */


/* <!--FOOTER--> */
footer {
  margin: 5rem 0 2rem; 0;
  width:100%
}

.quotebox {
  display: flex;
  flex-wrap:wrap;
  background-color: #fbfbfb;
  border-radius: 5px;
  margin: 1.6rem;
  padding: 2rem 1rem;
  filter: drop-shadow(0 .5rem .25rem rgba(0,0,0,0.25));
  min-width: 25rem;
  max-width: 37rem;
  position: relative;
}

.quotebox h6 {
  width:100%;
  font-weight: 400;
}

.boldh6 {
  text-align: right;
  margin: 1rem;
  max-width:;
}

.wannatalk {
  padding: 3.2rem;
  max-width: 60rem;
  margin:0 auto;
}

.wannatalk h5 {
  text-align: left;
}

.socials {
  display:flex;
  font-size: 24px;
  margin: 0 auto;
}

.socials li {
  padding: 2rem;
  flex-wrap: wrap;
  width:20%;
  text-align:center;
  transition: all 0.3s ease-in-out;
}

.socials li a:hover {
  color: #E06D69;
  cursor:pointer;
}

.copyright {
  font-size: 1rem;
  text-align: center;
  margin: 1rem 1rem 1rem 0;
  padding: 0;
}

@@media only screen and (min-width: 768px){
  .charts {
    width: 50%;
  }
}
